.main-div {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.total {
    height: 45px;
    width: 45px;
    background-color: #c46210;
    text-align: center;
    border-radius: 50%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}